Send_Email.json
{
  "name": "Send_Email_v5-1",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -672,
        16
      ],
      "id": "c0d5e3f9-a2dd-4228-87a7-17d569ae6736",
      "name": "Start",
      "notes": "═════════════════════════\n  NODE 1: WORKFLOW TRIGGER (EMAIL WORKFLOW ENTRY POINT)  ═════════════════════════\n  This is the entry point for the Email workflow.\n\n  What data arrives here:\n  When called from parent workflow, receives:\n\n  - workflow_run_id (CRITICAL):\n    - Parent workflow's execution ID\n    - Example: 67890\n    - Used to query email_queue table\n    - Links to all jobs processed in parent workflow run\n    - This is THE KEY that ties the entire\n      system together\n\n  - companies_processed (optional):\n    - Summary count from parent workflow\n    - Example: 40\n    - For logging/debugging\n    - Not used in email generation\n\n  - query_timestamp (optional):\n    - When parent workflow completed\n    - Example: \"2025-12-29T14:30:00.000Z\"\n    - For audit trail and debugging\n\n  Data flow summary with example:\n\n  Loop Companies starts → execution_id = 67890\n  (becomes workflow_run_id)\n    ↓\n    ├─ Company 1: Anthropic\n    │  └─ Loop Jobs called with\n    │     _context_workflow_run_id = 67890\n    │     ├─ Job 1: Senior PM → AI eval →\n    │        email_queue (workflow_run_id: 67890)\n    │     ├─ Job 2: Lead PM → AI eval →\n    │        email_queue (workflow_run_id: 67890)\n    │     └─ Job 8: Principal PM → AI eval →\n    │        email_queue (workflow_run_id: 67890)\n    │\n    ├─ Company 2: OpenAI\n    │  └─ Loop Jobs called with\n    │     _context_workflow_run_id = 67890\n    │     ├─ Job 1: Technical PM → AI eval →\n    │        email_queue (workflow_run_id: 67890)\n    │     └─ Job 5: Staff PM → AI eval →\n    │        email_queue (workflow_run_id: 67890)\n    │\n    └─ All companies done (40 total)\n       └─ Workflow Summary node:\n          { workflow_run_id: 67890 }\n          └─ Triggers Send Email workflow\n             (THIS WORKFLOW)\n             ↓\n             Load Email Queue: WHERE\n             workflow_run_id = 67890\n             Result: All 13 jobs (8 from Anthropic\n             + 5 from OpenAI)\n             ↓\n             Aggregate and Sort: Order by\n             overall_score DESC\n             ↓\n             Build Email: Generate HTML with\n             summary stats\n             ↓\n             Send Jobs Email: Gmail delivery →\n             User inbox\n\n  Critical note on workflow_run_id:\n\n  The workflow_run_id is THE MASTER KEY that\n  connects everything:\n\n  1. CREATED BY: Loop Companies workflow (its\n     $execution.id)\n  2. PROPAGATED TO: Every job via\n     _context_workflow_run_id\n  3. STORED IN: email_queue table with every job card\n  4. PASSED TO: This email workflow for querying\n  5. RESULT: Single query retrieves all jobs\n     from entire daily run\n\n  Next node: Load Email Queue"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "Email_Queue"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "workflow_run_id",
              "keyValue": "={{ $json.workflow_run_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -464,
        16
      ],
      "id": "550240cc-39bd-4166-b10b-66f106e1a359",
      "name": "Load Email Queue",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "notes": "═════════════════════════\n  NODE 2: LOAD EMAIL QUEUE FROM DATABASE  ═════════════════════════\n  Queries the email_queue table to retrieve all\n  jobs processed in the current workflow run.\n\n  What this node does:\n  - Connects to n8n data table: \"email_queue\"\n  - Filters by workflow_run_id from parent\n    workflow (or manual trigger)\n  - Returns ALL jobs across ALL companies from\n    this workflow run\n  - Each row is one complete job with HTML card\n    and metadata\n\n  Table schema (columns stored):\n\n  1. workflow_run_id (number):\n     - PRIMARY FILTER FIELD (indexed for\n       performance)\n     - Groups all jobs from single workflow run\n     - Example: 67890\n     - This is how we know which jobs belong together\n\n  2. recommendation (string):\n     - AI's recommendation category\n     - Values: EXCELLENT_MATCH | GOOD_MATCH |\n       CONSIDER | POOR_FIT | REJECT\n     - Used for filtering and grouping in next node\n     - Determines badge color in email\n\n  3. overall_score (number):\n     - AI's numeric score (1-10)\n     - Primary sort field (higher = better match)\n     - Used to order jobs in email (best first)\n\n  4. html_card (string):\n     - Complete, formatted HTML job card\n     - Self-contained, ready to insert in email\n     - Generated by Loop Jobs workflow's Format\n       Job Card node\n     - Size: ~2-5KB per job\n     - Contains: title, company, salary,\n       location, AI assessment, scores\n\n  5. job_id (string):\n     - Unique identifier from Apify\n     - Links back to raw jobs_test_1 table\n     - Used for deduplication and tracking\n\n  6. company_name (string):\n     - Company posting the job\n     - Example: \"Anthropic\", \"OpenAI\", \"Google\"\n     - Could be used for company-based grouping\n       (not currently used)\n\n  7. job_title (string):\n     - Job title for reference\n     - Example: \"Senior Technical Product Manager\"\n     - Stored separately for quick reference\n       without parsing HTML\n\n  Next node receives:\n  - Array of job objects\n  - Each with html_card field\n  - Each with scoring metadata\n  - Ready for aggregation and sorting\n\n  Next node: Aggregate and Sort Jobs"
    },
    {
      "parameters": {
        "jsCode": "//=====================================================================\n// NODE 3: AGGREGATE AND SORT JOBS\n// ====================================================================\n\n// STEP 1: Get all jobs from database query\n// $input.all() returns array of ALL items from Load Email Queue node\nconst allJobs = $input.all();\n// Example: 20 items (jobs) from email_queue table\n\n// ====================================================================\n// CATEGORIZATION\n// ====================================================================\n\n// EXCELLENT_MATCH: Top-tier jobs - perfect fit across all dimensions\nconst excellentMatches = allJobs.filter(job => job.json.recommendation === 'EXCELLENT_MATCH');\n\n// GOOD_MATCH: Strong candidates - good fit with minor gaps\nconst strongMatches = allJobs.filter(job => \n  job.json.recommendation === 'STRONG_MATCH' || \n  job.json.recommendation === 'GOOD_MATCH'\n);\n\n// CONSIDER: Possible matches - worth reviewing despite gaps\nconst considerJobs = allJobs.filter(job => job.json.recommendation === 'CONSIDER');\n\n// POOR_FIT: Not recommended - significant mismatches\nconst poorFits = allJobs.filter(job => job.json.recommendation === 'POOR_FIT');\n\n// ====================================================================\n// SORTING\n// ====================================================================\n\nconst sortedJobs = allJobs.sort((a, b) => \n  b.json.overall_score - a.json.overall_score\n);\n// Result: Jobs ordered 10 → 9 → 9 → 8 → 7 → ...\n// Best matches appear at top of email\n// ====================================================================\n// HTML CARD CONCATENATION\n// ====================================================================\n\nconst jobCardsHtml = sortedJobs\n  .map(job => job.json.html_card)  // Extract html_card field from each job\n  .join('\\n<div style=\"margin: 20px 0;\"></div>\\n');  // Add spacer between cards\n\n// WHAT THIS DOES:\n// Takes: Array of job objects with html_card fields\n// \n// Step 1 - .map(): Extract just the HTML cards\n// Step 2 - .join(): Concatenate with spacer\n// \n// Result: Single string with all job cards and visual spacing\n\n// ====================================================================\n// OUTPUT STRUCTURE\n// ====================================================================\n\nreturn [{\n  json: {\n    // === SUMMARY COUNTS ===\n    // These drive the email header statistics and subject line\n    total_jobs: allJobs.length,  // 20\n    excellent_count: excellentMatches.length,  // 3\n    strong_count: strongMatches.length,  // 8\n    consider_count: considerJobs.length,  // 6\n    poor_count: poorFits.length,  // 3\n    \n    // === COMPLETE HTML CONTENT ===\n    // All job cards concatenated with spacers, sorted by score\n    job_cards_html: jobCardsHtml,\n    \n    // === WORKFLOW TRACKING ===\n    // Preserve workflow_run_id for email footer and debugging\n    workflow_run_id: allJobs[0].json.workflow_run_id\n    // Safe to access [0] because we know we have jobs from query\n  }\n}];\n\n// WHAT GETS OUTPUT:\n// Single item with aggregated data:\n// {\n//   total_jobs: 20,\n//   excellent_count: 3,\n//   strong_count: 8,\n//   consider_count: 6,\n//   poor_count: 3,\n//   job_cards_html: \"<div>...</div><spacer><div>...</div>...\",\n//   workflow_run_id: 67890\n// }\n\n// EXAMPLE EMAIL SUBJECT LINE (next node generates):\n// \"🎯 3 Excellent Matches, 8 Strong • 20 Total Jobs\"\n// These numbers come from excellent_count, strong_count, total_jobs\n\n// EXAMPLE EMAIL BODY (next node generates):\n// [Header with summary stats]\n// [Job card 1 - score 10]\n// <spacer>\n// [Job card 2 - score 9]\n// <spacer>\n// [Job card 3 - score 9]\n// ...\n// [Footer]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "2a962b54-aede-43d7-98f9-c0cbe0744906",
      "name": "Aggregate and Sort Jobs",
      "notes": "════════════════════════════════════════════════\n  NODE: AGGREGATE AND SORT JOBS\n════════════════════════════════════════════════\n  Reduces N job items → 1 aggregated summary item.\n\n  Input:  N items from Load Email Queue\n  Output: 1 item with category counts + sorted HTML\n\n  Transformations:\n    - Count jobs by category: excellent / strong /\n      consider / poor\n    - Sort all jobs by overall_score descending\n    - Concatenate html_card fields with spacer divs\n\n  See jsCode for full implementation.\n\n  Next node: Build Email"
    },
    {
      "parameters": {
        "jsCode": "// ====================================================================\n// FORMAT SUCCESS RESPONSE\n// ====================================================================\n// Purpose: Transform SMTP output into consistent status object\n// Returns to parent workflow with structured status information\n\n// Get the email metadata from Build Email node\nconst emailData = $('Build Match Email').first().json;\n\n// Get category counts from Aggregate and Sort Jobs\n// (Build Email only forwards total_jobs and excellent_count)\nconst aggData = $('Aggregate and Sort Jobs').first().json;\n\n// SMTP node output is in current item (has connection info)\nconst smtpResult = $input.first().json;\n\nreturn [{\n  json: {\n    // === STATUS METADATA ===\n    status: 'success',\n    email_sent: true,\n\n    // === EMAIL STATISTICS ===\n    total_jobs: emailData.total_jobs,\n    excellent_count: emailData.excellent_count,\n    strong_count: aggData.strong_count,       // ← added\n    consider_count: aggData.consider_count,   // ← added\n    poor_count: aggData.poor_count,           // ← added\n\n    // === WORKFLOW TRACKING ===\n    workflow_run_id: emailData.workflow_run_id,\n\n    // === TIMESTAMP ===\n    timestamp: new Date().toISOString(),\n\n    // === SMTP DETAILS (optional, for debugging) ===\n    message_id: smtpResult.messageId || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "731bb365-f1fd-4b91-8f47-5ec803ff7570",
      "name": "Success Response",
      "notes": "════════════════════════════════════════════════\n  NODE: SUCCESS RESPONSE\n════════════════════════════════════════════════\n  Builds a structured status object after email\n  delivery and returns it to the parent workflow.\n\n  Input:  SMTP send result + Build Email metadata\n  Output: Unified status with email stats\n\n  See jsCode for output schema.\n"
    },
    {
      "parameters": {
        "jsCode": "// ====================================================================\n// RETURN SKIP STATUS\n// ====================================================================\n// Purpose: Provide explicit status when workflow_run_id doesn't exist\n// Ensures parent workflow loop continues even when no jobs to process\n\nreturn [{\n  json: {\n    // === STATUS METADATA ===\n    status: 'skipped',\n    reason: 'no_workflow_run_id',\n    email_sent: false,\n\n    // === EMPTY STATISTICS ===\n    total_jobs: 0,\n    excellent_count: 0,\n\n    // === WORKFLOW TRACKING ===\n    workflow_run_id: $json.workflow_run_id || null,\n\n    // === TIMESTAMP ===\n    timestamp: new Date().toISOString()\n  }\n}];\n\n// WHAT GETS OUTPUT:\n// {\n//   status: 'skipped',\n//   reason: 'no_workflow_run_id',\n//   email_sent: false,\n//   total_jobs: 0,\n//   excellent_count: 0,\n//   workflow_run_id: null,\n//   timestamp: '2025-12-29T14:30:00.000Z'\n// }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        352
      ],
      "id": "45fd7b61-cd19-46a3-8286-a7f1696bb3de",
      "name": "Empty Response",
      "notes": "════════════════════════════════════════════════\n  NODE: EMPTY RESPONSE\n════════════════════════════════════════════════\n  Returns a skip status when workflow_run_id is\n  absent. Allows the parent workflow to continue\n  without sending an email.\n\n  Input:  Item from If node false branch\n  Output: Structured skip status\n\n  See jsCode for output schema.\n"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b91d401f-42c2-42eb-95cb-fde8ec1e5414",
              "leftValue": "={{ $json.workflow_run_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        16
      ],
      "id": "4792dd18-049d-4fed-b966-be56eac99abf",
      "name": "If matches",
      "alwaysOutputData": false,
      "notes": "════════════════════════════════════════════════\n  NODE: IF — WORKFLOW_RUN_ID GUARD\n════════════════════════════════════════════════\n  Purpose: Gate execution on a valid workflow_run_id.\n  Prevents email generation when no run ID is available.\n\n  Condition:\n    workflow_run_id EXISTS (string, not null/empty)\n\n  True  → output[0] → Aggregate and Sort Jobs\n    workflow_run_id is present; proceed with email\n\n  False → output[1] → Empty Response\n    workflow_run_id is missing; return skip status\n    to parent workflow\n\n  When workflow_run_id may be absent:\n    - Workflow triggered manually without input\n    - Parent workflow failed before passing run ID\n    - Development or test invocations\n\n  alwaysOutputData: false\n    Only one branch fires per execution.\n\n  Next nodes:\n    True  → Aggregate and Sort Jobs\n    False → Empty Response"
    },
    {
      "parameters": {
        "jsCode": "// ====================================================================\n// NODE 4: BUILD EMAIL (HTML EMAIL GENERATOR)\n// ====================================================================\n\n// STEP 1: Get aggregated data from previous node\n// Previous node consolidated 20 jobs into single item with statistics\nconst data = $input.first().json;\n// .first() gets the single aggregated item\n// .json extracts the data object\n\n// STEP 2: Destructure all the statistics and content\nconst {\n  total_jobs,           // 20 - Total jobs in this digest\n  excellent_count,      // 3 - Excellent matches\n  strong_count,         // 8 - Good/Strong matches\n  consider_count,       // 6 - Consider reviewing\n  poor_count,          // 3 - Poor fits\n  job_cards_html,      // Combined HTML of all job cards\n  workflow_run_id      // 67890 - Workflow tracking ID\n} = data;\n\n// ====================================================================\n// DYNAMIC SUBJECT LINE GENERATION\n// ====================================================================\n\n// Build subject line parts dynamically\nlet subjectParts = [];\n\n// Prioritize excellent matches\nif (excellent_count > 0) {\n  subjectParts.push(`${excellent_count} Excellent Match${excellent_count !== 1 ? 'es' : ''}`);\n}\n\n// Add strong matches if present\nif (strong_count > 0) {\n  subjectParts.push(`${strong_count} Strong`);\n}\n\n// Only mention \"consider\" if no excellent or strong matches\nif (consider_count > 0 && excellent_count === 0 && strong_count === 0) {\n  subjectParts.push(`${consider_count} to Consider`);\n}\n\n// Assemble final subject line\nconst subject = subjectParts.length > 0\n  ? `🎯 ${subjectParts.join(', ')} • ${total_jobs} Total Jobs`\n  : `📊 ${total_jobs} New Job${total_jobs !== 1 ? 's' : ''} to Review`;\n\n// Example subject lines:\n// - \"🎯 3 Excellent Matches, 8 Strong • 20 Total Jobs\" (good day)\n// - \"🎯 2 Excellent Matches • 5 Total Jobs\" (fewer jobs, high quality)\n// - \"📊 3 New Jobs to Review\" (no excellent/strong matches)\n\n// ====================================================================\n// DATE FORMATTING\n// ====================================================================\n\nconst today = new Date();\nconst formattedDate = today.toLocaleDateString('en-US', { \n  weekday: 'long',      // \"Monday\"\n  year: 'numeric',      // \"2025\"\n  month: 'long',        // \"December\"\n  day: 'numeric'        // \"29\"\n});\n// Result: \"Monday, December 29, 2025\"\n\n// ====================================================================\n// HTML EMAIL TEMPLATE\n// ====================================================================\n\nconst emailHtml = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Daily Job Digest</title>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f3f4f6; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\">\n  \n  <!-- Email Container: 700px max width for readability -->\n  <div style=\"max-width: 700px; margin: 0 auto; padding: 20px;\">\n    \n    <!-- ================================================ -->\n    <!-- EMAIL HEADER -->\n    <!-- Purple gradient banner with title and date -->\n    <!-- ================================================ -->\n    <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 32px 24px; border-radius: 12px 12px 0 0; margin-bottom: 0; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);\">\n      <h1 style=\"margin: 0 0 8px 0; color: #ffffff; font-size: 28px; font-weight: 700; letter-spacing: -0.5px;\">\n        🎯 Your Daily Job Digest\n      </h1>\n      <p style=\"margin: 0; color: rgba(255, 255, 255, 0.9); font-size: 15px;\">\n        ${formattedDate}\n      </p>\n    </div>\n    \n    <!-- ================================================ -->\n    <!-- SUMMARY STATISTICS CARD -->\n    <!-- Four-column grid showing job counts by category -->\n    <!-- ================================================ -->\n    <div style=\"background: #ffffff; padding: 24px; border-radius: 0 0 12px 12px; margin-bottom: 24px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);\">\n      \n      <!-- Four-column responsive grid -->\n      <div style=\"display: grid; grid-template-columns: repeat(4, 1fr); gap: 16px; text-align: center;\">\n        \n        <!-- EXCELLENT MATCHES - Green theme -->\n        <div style=\"padding: 16px 8px; background: ${excellent_count > 0 ? '#f0fdf4' : '#f9fafb'}; border-radius: 8px; border: 2px solid ${excellent_count > 0 ? '#10b981' : '#e5e7eb'};\">\n          <div style=\"color: #10b981; font-weight: 700; font-size: 24px; margin-bottom: 4px;\">\n            ${excellent_count}\n          </div>\n          <div style=\"color: #6b7280; font-size: 11px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px;\">\n            Excellent\n          </div>\n        </div>\n        \n        <!-- STRONG MATCHES - Blue theme -->\n        <div style=\"padding: 16px 8px; background: ${strong_count > 0 ? '#eff6ff' : '#f9fafb'}; border-radius: 8px; border: 2px solid ${strong_count > 0 ? '#3b82f6' : '#e5e7eb'};\">\n          <div style=\"color: #3b82f6; font-weight: 700; font-size: 24px; margin-bottom: 4px;\">\n            ${strong_count}\n          </div>\n          <div style=\"color: #6b7280; font-size: 11px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px;\">\n            Strong\n          </div>\n        </div>\n        \n        <!-- CONSIDER MATCHES - Amber theme -->\n        <div style=\"padding: 16px 8px; background: ${consider_count > 0 ? '#fffbeb' : '#f9fafb'}; border-radius: 8px; border: 2px solid ${consider_count > 0 ? '#f59e0b' : '#e5e7eb'};\">\n          <div style=\"color: #f59e0b; font-weight: 700; font-size: 24px; margin-bottom: 4px;\">\n            ${consider_count}\n          </div>\n          <div style=\"color: #6b7280; font-size: 11px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px;\">\n            Consider\n          </div>\n        </div>\n        \n        <!-- TOTAL JOBS - Gray theme -->\n        <div style=\"padding: 16px 8px; background: #f9fafb; border-radius: 8px; border: 2px solid #d1d5db;\">\n          <div style=\"color: #374151; font-weight: 700; font-size: 24px; margin-bottom: 4px;\">\n            ${total_jobs}\n          </div>\n          <div style=\"color: #6b7280; font-size: 11px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px;\">\n            Total\n          </div>\n        </div>\n        \n      </div>\n      \n      <!-- Conditional highlight banner for excellent matches -->\n      ${excellent_count > 0 ? `\n      <div style=\"margin-top: 16px; padding: 12px; background: #ecfdf5; border-left: 4px solid #10b981; border-radius: 4px;\">\n        <p style=\"margin: 0; color: #065f46; font-size: 13px; font-weight: 600;\">\n          ⚡ You have ${excellent_count} excellent match${excellent_count !== 1 ? 'es' : ''} today!\n        </p>\n      </div>\n      ` : ''}\n      \n    </div>\n    \n    <!-- ================================================ -->\n    <!-- JOB CARDS SECTION -->\n    <!-- All formatted job cards inserted here -->\n    <!-- ================================================ -->\n    <div style=\"margin-bottom: 24px;\">\n      ${job_cards_html}\n    </div>\n    \n    <!-- ================================================ -->\n    <!-- EMAIL FOOTER -->\n    <!-- System information and workflow tracking -->\n    <!-- ================================================ -->\n    <div style=\"background: #ffffff; padding: 20px; border-radius: 8px; text-align: center; font-size: 13px; color: #6b7280; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);\">\n      <p style=\"margin: 0 0 8px 0; font-weight: 600; color: #374151;\">\n        📬 Automated Job Monitoring System\n      </p>\n      <p style=\"margin: 0 0 4px 0;\">\n        Workflow Run ID: <code style=\"background: #f3f4f6; padding: 2px 6px; border-radius: 3px; font-family: monospace;\">#${workflow_run_id}</code>\n      </p>\n      <p style=\"margin: 0; font-size: 12px;\">\n        Questions? Reply to this email or check your workflow logs.\n      </p>\n    </div>\n    \n    <!-- Spacer for email clients -->\n    <div style=\"height: 40px;\"></div>\n    \n  </div>\n  \n</body>\n</html>\n`;\n\n// ====================================================================\n// EMAIL DESIGN PRINCIPLES\n// ====================================================================\n\n// 1. INLINE STYLES:\n// - Email clients strip <style> tags and external CSS\n// - All styling must be inline style=\"...\" attributes\n// - Verbose but necessary for email compatibility\n\n// 2. TABLE-FREE LAYOUT:\n// - Modern approach using divs with inline-block\n// - Grid layout for statistics (fallback to stacked on mobile)\n// - More maintainable than traditional table-based email layouts\n\n// 3. COLOR CODING:\n// - Green: Excellent matches (positive, go)\n// - Blue: Strong matches (confident, professional)\n// - Amber: Consider (caution, review needed)\n// - Gray: Neutral statistics\n\n// 4. PROGRESSIVE ENHANCEMENT:\n// - Base layout works in all email clients\n// - Enhanced features (gradients, shadows) degrade gracefully\n// - Text remains readable even if styling breaks\n\n// 5. MOBILE RESPONSIVE:\n// - 700px max width for desktop readability\n// - Grid columns stack on narrow screens\n// - Touch-friendly sizing (minimum 44px tap targets)\n\n// ====================================================================\n// CONDITIONAL CONTENT\n// ====================================================================\n\n// Excellent matches highlight:\n// ${excellent_count > 0 ? `...` : ''}\n// - Only shows if there are excellent matches\n// - Creates excitement and urgency\n// - Empty string if no excellent matches\n\n// Category styling:\n// background: ${excellent_count > 0 ? '#f0fdf4' : '#f9fafb'}\n// - Active: Colored background (light green)\n// - Inactive: Gray background\n// - Visual feedback on which categories have jobs\n\n// ====================================================================\n// OUTPUT STRUCTURE\n// ====================================================================\n\nreturn [{\n  json: {\n    // === EMAIL METADATA ===\n    subject: subject,\n    // \"🎯 3 Excellent Matches, 8 Strong • 20 Total Jobs\"\n    \n    html_body: emailHtml,\n    // Complete HTML email (10-20KB typical)\n    \n    // === SUMMARY STATISTICS (for logging) ===\n    total_jobs: total_jobs,\n    excellent_count: excellent_count,\n    \n    // === WORKFLOW TRACKING ===\n    workflow_run_id: workflow_run_id,\n    \n    // === TIMESTAMP ===\n    generated_at: new Date().toISOString()\n    // When email was generated (for debugging)\n  }\n}];\n\n// WHAT GETS OUTPUT:\n// Single item with complete email ready to send:\n// {\n//   subject: \"🎯 3 Excellent Matches, 8 Strong • 20 Total Jobs\",\n//   html_body: \"<!DOCTYPE html><html>...\",\n//   total_jobs: 20,\n//   excellent_count: 3,\n//   workflow_run_id: 67890,\n//   generated_at: \"2025-12-29T14:30:00.000Z\"\n// }\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "102c3e20-b5a3-4437-81c6-036e5faf78f1",
      "name": "Build Match Email",
      "notes": "════════════════════════════════════════════════\n  NODE 4: BUILD EMAIL (HTML EMAIL GENERATOR)  ════════════════════════════════════════════════\n  Purpose: Create professional, responsive HTML email with job digest\n  Input: Single aggregated item with statistics and combined HTML\n  Output: Complete email with dynamic subject line and formatted HTML body\n\n  Key features:\n  - Dynamic subject line based on job quality\n  - Professional HTML email template\n  - Responsive design for mobile/desktop\n  - Color-coded statistics (green/blue/amber/gray)\n  - Conditional content (highlight for excellent matches)\n  - Email client compatible (inline styles)\n\n  Next node: Send Jobs Email\n"
    },
    {
      "parameters": {
        "fromEmail": "RoleFinder Jobs <sender@example.com>",
        "toEmail": "={{ $('Start').all()[1].json.full_name + ' <' + $('Start').all()[1].json.email + '>' }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "7bb5d5d9-964d-480d-b9f6-00926eb89fc8",
      "name": "Send Match Email",
      "webhookId": "5ae55e11-c189-47b1-baf1-0e533bf0d655",
      "credentials": {
        "smtp": {
          "name": "SMTP"
        }
      },
      "notes": "=═══════════════════════════════════\n  NODE 5: SEND EMAIL (SMTP DELIVERY)\n  Purpose: Deliver formatted HTML email digest\n  to recipient\n════════════════════════════════════\n\n  SMTP Configuration:\n  - From: \"[Email Name <email@address>]\"\n  - To: Dynamic from Start node (see below)\n  - Subject: {{ $json.subject }} (from Build Email)\n  - Body: {{ $json.html_body }} (formatted HTML)\n\n  CRITICAL: Recipient Address Uses [1] Index\n\n  {{ $('Start').all()[1].json.full_name + ' <' +\n     $('Start').all()[1].json.email + '>' }}\n\n  Parent workflow passes TWO items to Start node:\n  - Item [0]: Workflow summary (workflow_run_id,\n    companies_processed)\n  - Item [1]: User configuration (full_name,\n    email, preferences)\n\n  This node accesses Item [1] for recipient info."
    },
    {
      "parameters": {
        "jsCode": "// ====================================================================\n// NODE: BUILD NOMATCH EMAIL\n// ====================================================================\n// workflow_run_id comes from Start directly (Aggregate and Sort Jobs\n// did not run in this path).\n\nconst workflowRunId = $('Start').first().json.workflow_run_id;\n\nconst today = new Date();\nconst formattedDate = today.toLocaleDateString('en-US', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nconst subject = `📭 No new matches today — ${formattedDate}`;\n\nconst emailHtml = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Daily Job Digest</title>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f3f4f6; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\">\n  <div style=\"max-width: 700px; margin: 0 auto; padding: 20px;\">\n\n    <!-- HEADER -->\n    <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 32px 24px; border-radius: 12px 12px 0 0; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);\">\n      <h1 style=\"margin: 0 0 8px 0; color: #ffffff; font-size: 28px; font-weight: 700; letter-spacing: -0.5px;\">\n        🎯 Your Daily Job Digest\n      </h1>\n      <p style=\"margin: 0; color: rgba(255, 255, 255, 0.9); font-size: 15px;\">\n        ${formattedDate}\n      </p>\n    </div>\n\n    <!-- NO MATCHES MESSAGE -->\n    <div style=\"background: #ffffff; padding: 32px 24px; border-radius: 0 0 12px 12px; margin-bottom: 16px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); text-align: center;\">\n      <p style=\"font-size: 40px; margin: 0 0 16px 0;\">📭</p>\n      <p style=\"margin: 0 0 8px 0; font-size: 18px; font-weight: 600; color: #374151;\">\n        No new matches today\n      </p>\n      <p style=\"margin: 0; font-size: 14px; color: #6b7280; line-height: 1.6;\">\n        No job listings matched your criteria in the last 24 hours.<br>Check back tomorrow.\n      </p>\n    </div>\n\n    <!-- TIP CARD -->\n    <div style=\"background: #fffbeb; border: 1px solid #fde68a; border-left: 4px solid #f59e0b; padding: 20px 24px; border-radius: 8px; margin-bottom: 16px;\">\n      <p style=\"margin: 0 0 8px 0; font-size: 13px; font-weight: 700; color: #92400e; text-transform: uppercase; letter-spacing: 0.5px;\">\n        💡 Tip\n      </p>\n      <p style=\"margin: 0; font-size: 14px; color: #78350f; line-height: 1.6;\">\n        If you're seeing few or no matches over several days, try <strong>adding more companies</strong> to your watchlist — a broader company list generally produces more results. You can also review your <strong>title search filters</strong> to make sure they aren't too narrow.\n      </p>\n      <p style=\"margin: 10px 0 0 0; font-size: 14px; color: #78350f; line-height: 1.6;\">\n        If you need help adjusting your configuration, contact your <strong>RoleFinder administrator</strong>.\n      </p>\n    </div>\n\n    <!-- FOOTER -->\n    <div style=\"background: #ffffff; padding: 20px; border-radius: 8px; text-align: center; font-size: 13px; color: #6b7280; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);\">\n      <p style=\"margin: 0 0 8px 0; font-weight: 600; color: #374151;\">\n        📬 Automated Job Monitoring System\n      </p>\n      <p style=\"margin: 0; font-size: 12px;\">\n        Workflow Run ID: <code style=\"background: #f3f4f6; padding: 2px 6px; border-radius: 3px; font-family: monospace;\">#${workflowRunId}</code>\n      </p>\n    </div>\n\n    <div style=\"height: 40px;\"></div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    subject: subject,\n    html_body: emailHtml,\n    workflow_run_id: workflowRunId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        176
      ],
      "id": "dd7ad750-83c2-4f60-b79b-65c69fc959fd",
      "name": "Build NoMatch Email",
      "notes": "════════════════════════════════════════════════\n  NODE 4: BUILD EMAIL (HTML EMAIL GENERATOR)  ════════════════════════════════════════════════\n  Purpose: Create professional, responsive HTML email with job digest\n  Input: Single aggregated item with statistics and combined HTML\n  Output: Complete email with dynamic subject line and formatted HTML body\n\n  Key features:\n  - Dynamic subject line based on job quality\n  - Professional HTML email template\n  - Responsive design for mobile/desktop\n  - Color-coded statistics (green/blue/amber/gray)\n  - Conditional content (highlight for excellent matches)\n  - Email client compatible (inline styles)\n\n  Next node: Send Jobs Email\n"
    },
    {
      "parameters": {
        "fromEmail": "RoleFinder Jobs <sender@example.com>",
        "toEmail": "={{ $('Start').all()[1].json.full_name + ' <' + $('Start').all()[1].json.email + '>' }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        416,
        176
      ],
      "id": "91feb63c-ac82-475d-87f9-57044fdfbd38",
      "name": "Send NoMatch Email",
      "webhookId": "5ae55e11-c189-47b1-baf1-0e533bf0d655",
      "credentials": {
        "smtp": {
          "name": "SMTP"
        }
      },
      "notes": "=═══════════════════════════════════\n  NODE 5: SEND EMAIL (SMTP DELIVERY)\n  Purpose: Deliver formatted HTML email digest\n  to recipient\n════════════════════════════════════\n\n  SMTP Configuration:\n  - From: \"[Email Name <email@address>]\"\n  - To: Dynamic from Start node (see below)\n  - Subject: {{ $json.subject }} (from Build Email)\n  - Body: {{ $json.html_body }} (formatted HTML)\n\n  CRITICAL: Recipient Address Uses [1] Index\n\n  {{ $('Start').all()[1].json.full_name + ' <' +\n     $('Start').all()[1].json.email + '>' }}\n\n  Parent workflow passes TWO items to Start node:\n  - Item [0]: Workflow summary (workflow_run_id,\n    companies_processed)\n  - Item [1]: User configuration (full_name,\n    email, preferences)\n\n  This node accesses Item [1] for recipient info."
    },
    {
      "parameters": {
        "jsCode": "// ====================================================================\n// RETURN SKIP STATUS\n// ====================================================================\n// Purpose: Provide explicit status when workflow_run_id doesn't exist\n// Ensures parent workflow loop continues even when no jobs to process\n\nreturn [{\n  json: {\n    // === STATUS METADATA ===\n    status: 'no_matches',\n    reason: 'no_workflow_run_id',\n    email_sent: true,\n\n    // === EMPTY STATISTICS ===\n    total_jobs: 0,\n    excellent_count: 0,\n\n    // === WORKFLOW TRACKING ===\n    workflow_run_id: $json.workflow_run_id || null,\n\n    // === TIMESTAMP ===\n    timestamp: new Date().toISOString()\n  }\n}];\n\n// WHAT GETS OUTPUT:\n// {\n//   status: 'skipped',\n//   reason: 'no_workflow_run_id',\n//   email_sent: true,\n//   total_jobs: 0,\n//   excellent_count: 0,\n//   workflow_run_id: null,\n//   timestamp: '2025-12-29T14:30:00.000Z'\n// }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        176
      ],
      "id": "a1ce5eb0-581c-4fdf-9e2f-1c0ca285c6c3",
      "name": "NoMatch Response",
      "notes": "════════════════════════════════════════════════\n  NODE: SUCCESS RESPONSE\n════════════════════════════════════════════════\n  Builds a structured status object after email\n  delivery and returns it to the parent workflow.\n\n  Input:  SMTP send result + Build Email metadata\n  Output: Unified status with email stats\n\n  See jsCode for output schema.\n"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "33fe544b-4e9a-4ec8-b387-4651f8159a68",
              "leftValue": "={{ JSON.parse($('Start').all()[1].json.preferences).notifications.send_empty_digest }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        192
      ],
      "id": "a3da0363-27e4-418d-9f8c-906ba8ca477f",
      "name": "If no matches"
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Load Email Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Email Queue": {
      "main": [
        [
          {
            "node": "If matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate and Sort Jobs": {
      "main": [
        [
          {
            "node": "Build Match Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empty Response": {
      "main": [
        []
      ]
    },
    "If matches": {
      "main": [
        [
          {
            "node": "Aggregate and Sort Jobs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If no matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Match Email": {
      "main": [
        [
          {
            "node": "Send Match Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Match Email": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build NoMatch Email": {
      "main": [
        [
          {
            "node": "Send NoMatch Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send NoMatch Email": {
      "main": [
        [
          {
            "node": "NoMatch Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If no matches": {
      "main": [
        [
          {
            "node": "Build NoMatch Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Empty Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2ea15252-01a7-40cd-b1ab-653da9c76a9f",
  "id": "NPdbNzUd4wyAuK8m",
  "tags": []
}